@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-google-sans-flex);
	--font-serif: var(--font-noto-sans-jp);
	--font-mono: var(--font-noto-sans);
	--font-display: var(--font-caveat);
}

@utility font-en {
	font-family: var(--font-google-sans-flex), var(--font-noto-sans), sans-serif;
}

@utility font-ja {
	font-family: var(--font-noto-sans-jp), var(--font-noto-sans), sans-serif;
}

@utility font-caveat {
	font-family: var(--font-caveat), cursive;
}

@utility font-cavest {
	font-family: var(--font-caveat), cursive;
}

body {
	background: var(--background);
	color: var(--foreground);
}
